<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="incursa">
      <package pattern="Incursa.*" />
      <package pattern="Bravellian.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
