<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="incursa" value="https://pkgs.dev.azure.com/incursatech/4376cdbf-cdb5-46d7-865e-37abf95fd7ff/_packaging/Public/nuget/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="incursa">
      <package pattern="Bravellian.*" />
      <package pattern="Incursa.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

  <auditSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
</configuration>
